profile {

.userProfile {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50% !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.one {
  background-image: url('https://i.imgflip.com/ctia7.jpg');
}





}
