<ion-header>

  <ion-navbar>
    <ion-title>{{match.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    Data: {{match.date | date:'HH:mm'}}h, {{match.date | date:'dd/MM/yy'}} {{getDayInfo()}}
  </ion-item>
  <ion-item>
    Local: {{match.local}}
  </ion-item>

  <ion-item *ngIf="isUserAlreadyParticipating()" class="confirmed">
    <span *ngIf="!(confirmedMembers.length == 0)"> Confirmados: </span> <span *ngIf="confirmedMembers.length == 0">Ninguém confirmou :( </span>
    <div *ngFor="let member of confirmedMembers">
      <div class="userProfile" [ngStyle]="{ 'background-image': 'url(' + member.photo + ')'}"> </div>
      <caption>{{getFirstName(member)}}</caption>
    </div>
  </ion-item>


  <ion-item *ngIf="isUserAlreadyParticipating()">
    <ion-label style="text-align: center">Presença</ion-label>
    <ion-icon (click)="confirm()" style="color:#00FF00; margin-top: -6px" class="confirm" color="secondary" name="thumbs-up"
      item-right></ion-icon>
    <ion-icon (click)="wontGo()" class="confirm" color="danger" name="thumbs-down" item-left></ion-icon>
  </ion-item>

  <button *ngIf="isUserAdmin()" (click)="deleteMatch()" block ion-button color="danger" round>
    Excluir
  </button>

  <button *ngIf="!isUserAlreadyParticipating() && !isUserAdmin()" (click)="joinMatch()" block ion-button round>
    Entrar
  </button>

  <ion-item *ngIf="wontGoMembers.length > 0 && isUserAlreadyParticipating()" class="wontGo">
    Não podem ir:
    <div *ngFor="let member of wontGoMembers">
      <div class="userProfile" [ngStyle]="{ 'background-image': 'url(' + member.photo + ')'}"> </div>
      <caption>{{getFirstName(member)}}</caption>
    </div>
  </ion-item>

  <button *ngIf="isUserAlreadyParticipating() && !isUserAdmin()" (click)="leaveMatch()" block ion-button round color="danger">
    Sair
  </button>


  <ion-item *ngIf="isUserAlreadyParticipating()">
    Todos: {{match.currentNumOfPlayers}} / {{match.numOfPlayers}}.
    <div *ngFor="let currentMember of members">
      <div class="userProfile" [ngStyle]="{ 'background-image': 'url(' + currentMember.photo + ')'}"> </div>
      <caption>{{getFirstName(currentMember)}}</caption>
    </div>
  </ion-item>

</ion-content>