page-match-details {
.userProfile {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.confirmOrDeny{
  font-size: 500%;
}

.confirmed{
  background: lightgreen;
}

.userConfirmedOrDenied{
  float:left; 
  margin-left: 5%;
  font-size: 85%;
  font-weight: bold;
}

.wontGo{
  background: lightcoral;
}

}
